.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c0c0c0;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background: #7f7f7f;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.postsList {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 40px auto;
}

.postsItem {
  border: 1px solid #aeaeae;
  border-radius: 5px;
  background: #FFFFFF;
}
.postsItem:not(:first-child) {
  margin-top: 10px;
}

.postTitle {
  font-size: 24px;
  font-weight: bold;
}

.postBody {
  margin-top: 10px;
}

.commentsToggler {
  text-align: left;
  padding: 10px;
}

.commentsList {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #aeaeae;
}

.commentsItem:not(:first-child) {
  margin-top: 20px;
}

.commentName {
  font-size: 16px;
  font-weight: bold;
}

.commentBody {
  margin-top: 5px;
  font-size: 12px;
}

.commentEmail {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

/*# sourceMappingURL=styles.module.css.map */
